[program:fincompare_horizon]
process_name=%(program_name)s_%(process_num)02d
command=php /var/www/html/fincompare/artisan horizon
autostart=true
autorestart=true
redirect_stderr=true
user=www-data
stdout_logfile=/var/www/html/fincompare/storage/logs/horizon.log
stdout_logfile_maxbytes=10MB
logfile_backups=14
stopwaitsecs=3600

